<div class="supplier-page">
  <div class="title">
    <img src="/assets/svg/logo.svg" alt="no img" />
  </div>
  <div class="title">Supplier Portal</div>
  <div class="cards">
    <div class="product-supplier-card " (click)="redirectUser('product')">
      <div>USER ICON</div>
      <div>Login as Product Supplier</div>

      <div><input type="text" id="supplierId" placeholder="Enter Product Supplier Id" (change)="setSupplierId($event)" /></div>
    </div>
    <div class="transport-supplier-card" (click)="redirectUser('transport')">
      <div>USER ICON</div>
      <div>Login as Transport Supplier</div>

      <div><input type="text" id="supplierId" placeholder="Enter Transport Supplier Id" (change)="setSupplierId($event)" /></div>
    </div>
  </div>
</div>
