<div class="supplier-page">
  <div class="title">ZET-STEEL</div>
  <div class="title">Supplier Portal</div>
  <div class="cards">
    <div class="product-supplier-card " (click)="redirectUser('product')">
      <div>USER ICON</div>
      <div>Login as Product Supplier</div>

      <div>A Gopal Reddy</div>
    </div>
    <div class="transport-supplier-card" (click)="redirectUser('transport')">
      <div>USER ICON</div>
      <div>Login as Transport Supplier</div>

      <div>Barakath Engineering Inds. P Ltd</div>
    </div>
  </div>
</div>
