<div class="welcome-page">
  <div class="title">ZET-STEEL-SEARCH</div>
  <div class="row justify-content-between">
    <div class="customer-card" (click)="redirectUser('customer')">
      <div>USER ICON</div>
      <div>Login as Customer</div>
    </div>
    <div class="sales-card" (click)="redirectUser('sales')">
      <div>USER ICON</div>
      <div>Login as Sales</div>
    </div>
    <div class="supplier-card" (click)="redirectUser('supplier')">
      <div>USER ICON</div>
      <div>Login as Supplier</div>
    </div>
  </div>
</div>