.welcome-page {
  padding: 30px;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .card {
    cursor: pointer;
    text-align: center;
    height: 300px;
    width: 300px
  }
  .cards {
    display: flex;
    justify-content: space-around;

    .customer-card {
      @extend .card;
      margin-right: 20px;
      background-color: aquamarine;
    }

    .sales-card {
      @extend .card;
      margin-right: 20px;
      background-color: yellow;
    }

    .supplier-card {
      @extend .card;
      background-color: salmon;
    }
  }
  
}