<div class="welcome-page">
  <div class="title"><img src="/assets/svg/logo.svg" alt="no img" /></div>
  <div class="cards">
    <div class="customer-card">
      <div class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
      <div>Login as Customer</div>
      <div><input type="text" id="supplierId" placeholder="Enter Customer Id"
          (change)="setCustomerId($event)" /></div>

      <div><button class="login-btn" (click)="redirectToCustomer()">Login</button></div>
    </div>
    <div class="sales-card" (click)="redirectUser('sales')">
      <div class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
      <div>Login as Sales</div>
    </div>
    <div class="supplier-card" (click)="redirectUser('supplier')">
      <div class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
      <div>Login as Supplier</div>
    </div>
  </div>
</div>