.enquiry-list-container {
  .tabs {
    display: flex;
    
    >div {
      border: 1px solid black;
      width: 50%;
      text-align: center;
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }
    .selected {
      background: #0075E3;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.103147);
      color: #FFFFFF;
      border: 1px solid transparent;
    }
  }
  .title {
    padding: 20px;
    text-align: center;
  }
  .header {
    padding: 20px;
    text-align: end;
    .send-enquiry-btn {
      :not(:disabled):not(.disabled) {
        cursor: pointer;
      }

      font-weight: 400;
      font-size: 12px;
      padding: 4px 8px;
      background: #0075E3;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.103147);
      border-radius: 3px;
      color: #FFFFFF;
      border: 1px solid transparent;
      cursor: pointer;
    }
  }
  .large-text {
    font-size: 24px;
    font-weight: bold;
  }
  .normal-text {
    font-size: 14px;
    color: #4A4A4A;
  }
  .small-text {
    font-size: 12px;
    color: #7D7D7D;
  }
  .enquiry-grid {
    display: grid;
    grid-template-columns: 5% 22% 19% 14% 23% 5%;
    grid-column-gap: 10px;
  }
  .table-header {
    @extend .enquiry-grid;
    padding: 8px 22px;
    background: rgba(141, 151, 173, 0.1);
    box-shadow: inset 0px -1px 0px #E7E7E7;
  }
  .table-body {
    @extend .enquiry-grid;
    padding: 12px 22px;
    box-shadow: inset 0px -1px 0px #E7E7E7;
    align-items: center;
  }
}