<header class="header">
  <div style="height:120px;" class="header_main">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo">
              <!-- <a href="/">ZetSteel</a> -->
              <img src="/assets/svg/logo.svg" alt="no img" />
            </div>
          </div>
        </div>
        <!-- Search -->
        <!-- <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                </form>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon"><img src="src/assets/images/heart.png" alt=""></div>
            
            </div>
                      <!-- Cart -->
            <!-- <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                  <img src="@/assets/images/cart.png" alt="">
                  <div class="cart_count"><span>0</span></div>
                </div>
                <div class="cart_content">
                  <div class="cart_text"><a routerLink="quotes">Quotes</a></div>
                </div>
              </div>
            </div> -->
          
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="main_nav_content d-flex flex-row">
            <!-- Categories Menu -->
            <a [routerLink]="['/customer', customerId]" class="cat_menu_container mr-2 unselected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_burger"><span></span><span></span><span></span></div>
                <div class="cat_menu_text">categories</div>
              </div>

              <ul class="cat_menu">
                <li *ngFor="let category of categories" >
                  <a (click)="onCategoryChange(category)">{{ category.name }}</a>
                </li>
              </ul>
            </a>

            <a [routerLink]="['/customer', customerId, 'quotes']" class="cat_menu_container mr-2 unselected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_menu_text">Enquiries</div>
              </div>
            </a>

            <a [routerLink]="'orders'" class="cat_menu_container selected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_menu_text">Orders</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="enquiry-list-container">
    <div class="table-header">
      <div></div>
      <div>Order Number</div>
      <div>Product name</div>
      <div>Quantity</div>
      <div>Delivery Date</div>
      <div>Price</div>
      <div>Credit Availed</div>
      <div>Insurance Availed</div>
    </div>
    <!-- <div class="table-body" *ngFor="let order of customerOrderList" let index=index> -->
    <div class="table-body">
      <div class="normal-text">1</div>
      <div class="normal-text">"-N1qwJQoLgvKxTEN9_bH"</div>
      <div class="normal-text">TMT Bar 10mm EQR</div>
      <div class="normal-text">500 MT</div>
      <div class="normal-text">15 Apr, 2022</div>
      <div class="normal-text">₹ 15400</div>
      <div class="normal-text">Yes</div>
      <div class="normal-text">No</div>
    </div>
    <div class="table-body">
      <div class="normal-text">2</div>
      <div class="normal-text">"-N1qwJQoLgvKxTEN9_bH"</div>
      <div class="normal-text">SAIL TMT EQR 14mm EQR</div>
      <div class="normal-text">2500 MT</div>
      <div class="normal-text">15 Apr, 2022</div>
      <div class="normal-text">₹ 1025400</div>
      <div class="normal-text">No</div>
      <div class="normal-text">No</div>
    </div>
    <div class="table-body">
      <div class="normal-text">3</div>
      <div class="normal-text">"-N1qwJQoLgvKxTEN9_bH"</div>
      <div class="normal-text">TMT Bar 10mm EQR</div>
      <div class="normal-text">500 MT</div>
      <div class="normal-text">15 Apr, 2022</div>
      <div class="normal-text">₹ 15400</div>
      <div class="normal-text">Yes</div>
      <div class="normal-text">No</div>
    </div>
    <div class="table-body">
      <div class="normal-text">4</div>
      <div class="normal-text">"-N1qwJQoLgvKxTEN9_bH"</div>
      <div class="normal-text">TMT-BAR 8mm EQR</div>
      <div class="normal-text">100 MT</div>
      <div class="normal-text">30th Jun, 2022</div>
      <div class="normal-text">₹ 122720</div>
      <div class="normal-text">Yes</div>
      <div class="normal-text">Yes</div>
    </div>
  </div>
  
</header>

