<div class="container container-border">
  <div class="row">   
    <div col-sm style="width:350px;height:350px;" :key="item.id" class="trends_item is_new">
            <!-- <router-link @click="saveProduct(item)"  v-bind:to="'/product/'+item.pid"> -->
            <div class="trends_image d-flex flex-column align-items-center justify-content-center"><img  width="200" height="200" alt="img"></div>	
            <div class="trends_content">
      <div style="color:black;font-size:13px;" class="trends_category">TNT Steel</div>
      <div class="trends_info clearfix">
        <div  style="color:black;" class="trends_name">JWL TNT Steel </div>
        <div style="color:black;" class="trends_price">4</div>
      </div>
    </div>
    <div class="trends_fav"><i class="fas fa-heart"></i></div>
            <!-- </router-link> -->
  </div>
  </div>
</div>