<div class="enquiry-list-container">
  <div class="header">
    <div class="large-text">Enquiry List</div>
    <div>
      <button type="button" class="send-enquiry-btn" (click)="sendResponseToSales()">Send Response To Sales</button>
      <div *ngIf="hasError" class="error">Please select enquiry to proceed</div>
    </div>
  </div>
  <div class="table-header">
    <div></div>
    <div>Product name</div>
    <div>Quantity</div>
    <div>Location</div>
    <div>Date</div>
    <div>Unit Price</div>
  </div>
  <div class="table-body" *ngFor="let enquiry of filteredEnquiryForSupplier">
    <div><input type="checkbox" id="isSelectedBySupplier" (change)="setIsSelectedBySupplier(enquiry?.id, $event)" />
    </div>
    <div class="normal-text">{{ enquiry?.itemName }}</div>
    <div class="normal-text">{{ enquiry?.quantity }}</div>
    <div class="normal-text">{{ enquiry?.location }}</div>
    <div><input type="date" id="price" /></div>
    <div><input type="number" id="price" /></div>
  </div>
</div>