<div class="enquiry-list-container">
  <div class="team-name large-text">ZET-STEEL</div>
  <div class="header large-text">Product Supplier Portal</div>
  <div class="resp-btn">
    <button type="button" class="send-enquiry-btn" (click)="sendResponseToSales()">Send Response To Sales</button>
    <div *ngIf="hasError" class="error">Please select enquiry to proceed</div>
  </div>
  <div class="table-header">
    <div></div>
    <div>Product name</div>
    <div>Quantity</div>
    <div>Delivery Date</div>
    <div>Unit Price</div>
  </div>
  <div class="table-body" *ngFor="let enquiry of filteredEnquiryForSupplier">
    <div class="checkbox"><input type="checkbox" id="isSelectedByProductSupplier"
        (change)="setIsSelectedByProductSupplier(enquiry?.id, $event)" />
    </div>
    <div class="normal-text">{{ enquiry?.itemName }}</div>
    <div class="normal-text">{{ enquiry?.quantity }}</div>
    <div><input type="date" id="date" (change)="setDate(enquiry?.id, $event)" /></div>
    <div><input type="number" id="productPrice" placeholder="Enter Unit Price"
        (change)="setPrice(enquiry?.id, $event)" /></div>
  </div>
</div>