<header class="header">
  <div style="height:120px;" class="header_main">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo">
              <!-- <a href="/">ZetSteel</a> -->
              <img src="/assets/svg/logo.svg" alt="no img" />
            </div>
          </div>
        </div>
        <!-- Search -->
        <!-- <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                </form>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon"><img src="src/assets/images/heart.png" alt=""></div>
            
            </div>
                      <!-- Cart -->
            <!-- <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                  <img src="@/assets/images/cart.png" alt="">
                  <div class="cart_count"><span>0</span></div>
                </div>
                <div class="cart_content">
                  <div class="cart_text"><a routerLink="quotes">Quotes</a></div>
                </div>
              </div>
            </div> -->
          
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="main_nav_content d-flex flex-row">
            <!-- Categories Menu -->
            <a [routerLink]="['/customer', customerId]" class="cat_menu_container mr-2 unselected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_burger"><span></span><span></span><span></span></div>
                <div class="cat_menu_text">categories</div>
              </div>

              <ul class="cat_menu">
                <li *ngFor="let category of categories" >
                  <a (click)="onCategoryChange(category)">{{ category.name }}</a>
                </li>
              </ul>
            </a>

            <a [routerLink]="'quotes'" class="cat_menu_container mr-2 selected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_menu_text">Enquiries</div>
              </div>
            </a>

            <a [routerLink]="['/customer', customerId, 'orders']" class="cat_menu_container unselected-tab">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_menu_text">Orders</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
</header>

<!--Quotes listing-->
<section *ngIf="quotations.length > 0" class="trends">
  <div *ngFor="let quotation of quotations" class="card-container">
    <div class="card-header-wrapper">
      <div class="card-upper">
        <div class="card-left-header">
          <div class="col">
            <div class="subject-line">
              {{ quotation.itemName }}
            </div>
          </div>
        </div>
        <!-- <div class="card-right-header">
          <div class="ml-35 status-box">
            <div class="header-text-line align-text-right">
              Last date to quote
            </div>
            <div class="subject-line-right align-text-right">
              Date
              <span>&#8226;</span>
            </div>
          </div>
        </div> -->
      </div>
      <hr class="divider" />
      <div class="card-lower">
        <div class="card-left">
          <div class="column-details-pr-10">
            <div class="header-text-line">Expected delivery date</div>
            <div class="subject-line">
              {{ quotation.expectedDate }}
            </div>
          </div>
          <div class="vertical-break"></div>
  
          <div class="column-details-pr-20">
            <div class="header-text-line">Supplier name</div>
            <div class="subject-line-left">
              Supplier 1
            </div>
          </div>
  
          <div class="column-details-pr-20">
            <div class="header-text-line">Quantity</div>
            <div class="subject-line-left">
              {{ quotation.quantity  }} MT
            </div>
          </div>
          <div class="vertical-break"></div>
  
          <div class="column-details-pr-20">
            <div class="header-text-line">Price</div>
            <div class="subject-line-left">
              ₹ {{  quotation.totalPrice }}
            </div>
          </div>
        </div>
  
        <div class="card-right-header">
          <!-- <div class="column-details">
            <div class="header-text-line align-text-right">Last Updated</div>
            <div
              class="subject-line-right align-text-right"
            >
              24th Jan 2022
              <span>&#8226;</span>
            </div>
          </div> -->
  
          <div class="vertical-break-right"></div>
  
          <div class="ml-35 status-box">
            <!-- <div class="right-align-flex">
              label
            </div> -->
            <div class="subject-line-right align-text-right">
              <button type="button" class="btn-submit" (click)="handleOrder(quotation, template)">Finalize Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="order-modal modal-header">
    <h4 class="modal-title pull-left">Checkout</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Name: <strong>{{ selectedQuotation.itemName }}</strong>
    </p>
    <p>
      Price: <strong>Rs {{ selectedQuotation.totalPrice }}</strong>
    </p>
    <p>
      Quantity: <strong>{{ selectedQuotation.quantity }} tons</strong>
    </p>
    <div class="order-checkbox-container">
      <span class="order-checkbox">
        <input type="checkbox" (change)="onInsuranceAvail($event)" [checked]="isInsuranceAvail">
        <label>Avail Insurance</label>
      </span>
      <span class="order-checkbox">
        <input type="checkbox" (change)="onCreditAvail($event)" [checked]="isCreditAvail">
        <label>Avail Credit</label>
      </span>
    </div>
    <div *ngIf="isCreditAvail" class="form-input">
      <label>GST No.</label>
      <input type="text" placeholder="Please enter your gst number" (change)="onGstChange($event)">
    </div>

    <button type="button" class="btn-submit btn-right" (click)="onSubmit()">Finalize Order</button>
  </div>
</ng-template>