<header class="header">
  <div style="height:120px;" class="header_main">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo">
              <a href="/">ZetSteel</a>
            </div>
          </div>
        </div>
        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon"><img src="src/assets/images/heart.png" alt=""></div>
            
            </div>
                      <!-- Cart -->
            <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                  <img src="@/assets/images/cart.png" alt="">
                  <div class="cart_count"><span>0</span></div>
                </div>
                <div class="cart_content">
                  <div class="cart_text"><a routerLink="quotes">Quotes</a></div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="main_nav_content d-flex flex-row">
            <!-- Categories Menu -->
            <div class="cat_menu_container">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_burger"><span></span><span></span><span></span></div>
                <div class="cat_menu_text">categories</div>
              </div>

              <ul class="cat_menu">
                <li>Steel</li>
              </ul>

              <ul class="cat_menu">
                <li *ngFor="let category of categories" >
                  <a (click)="onCategoryChange(category)">{{ category.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
</header>

<!--Product listing-->
<div class="trends">
  <h4 *ngIf="items.length > 0" style="margin-left:100px;">Total product found : {{ items.length }}</h4>
  <h4 style="margin-left:100px;" *ngIf="items.length == 0 ">Sorry! No product found</h4>
  <div class="trends_background" style="background-image:url(images/trends_background.jpg)"></div>
  <div class="trends_overlay"></div>
  <section *ngIf="items.length > 0" class="product-listing">
    <!-- Filters -->
    <section class="filters">
      <div *ngFor="let filter of filters.facets">
        <div class="filter-container">
          <h3 class="filter-heading">{{  filter.name }}</h3>
          <ul>
            <li *ngFor="let facet of filter.data" class="filter-item">
              <input (change)="filterChange(filter?.parameter, facet, $event)" type="checkbox">
              <label class="filter-item-label">{{ facet.label }}</label>
            </li>
          </ul>
        </div>
      </div>
    </section>
      <!-- Products -->
    <section class="row">
      <div style="width:300px;min-height:300px;" *ngFor="let item of items" class="trends_item is_new product-card">
          <!-- <router-link v-bind:to="'/product/'+product.pId"> -->
          <div class="trends_image d-flex flex-column align-items-center justify-content-center"><img  width="200" height="200" [src]='item.imageUrl' alt=""></div>	
          <div class="trends_content">
            <div class="trends_category"><a href="#">{{ item.category }}</a></div>
            <div class="trends_info clearfix">
              <div class="trends_name">{{ item.name }}</div>
              <div class="trends_price">₹ {{ item.minPrice }} - {{ item.maxPrice }}</div>
            </div>
            <div class="trends_info clearfix">Suppliers {{ item?.suppliers.length }}</div>
          </div>
          <div class="trends_button">
            <input type="text" (change)="updateQuantity(item, $event)" placeholder="Please enter quantity">
            <button type="button" (click)="onSubmitEnquiry(item)" class="btn btn-sm btn-primary">Submit Enquiry</button>
          </div>
          <div class="trends_fav"><i class="fas fa-heart"></i></div>
        <!-- </router-link> -->
      </div>
    </section>
  </section>
</div>